body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#counter-bar-ext {
    margin: 0;
    padding: 0;
    border: #000 solid 10px;
    height: 110px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#counter-bar-ext #counter-bar-int {
    margin: 0;
    background-color: #b33;
    height: 108px;
    width: 0;
    transition: width 0.3s ease;
}