body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    margin: 20px;
    font-family: Arial, sans-serif;
    font-size: 1.4rem;
    color: #933;
    /*display: block;*/
}

#counter-bar-ext {
    margin: 0;
    padding: 0;
    border: #000 solid 10px;
    height: 20vw;
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#counter-bar-ext #counter-bar-int {
    margin: 0;
    background-color: #933;
    height: 20vw;
    width: 0;
    transition: width 0.3s ease;
}